.Grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Grid-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}

.Grid-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}