$white: #fafcff;
$black: #36383a;
$red: #d21616;
$yellow: #f5df41;
$primary: #2367ee;
$grid-color: $primary;
$grid-color--light: lighten($grid-color, 10);
$grid-color--dark: darken($grid-color, 10);
$grid-color--darker: darken($grid-color, 20);
$player1: $red;
$player2: $yellow;

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$font-primary: 'Open Sans', sans-serif;
$font-heading: 'Bowlby One SC', sans-serif;