@import 'styles/_vars.scss';

.Select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0.2em 1em;
}

.Select--select {
  background-color: transparent;
  border: none;
  outline: none;
  color: $primary;
  font-weight: 600;
  margin-left: 0.2em;
}

.Select--label {
  color: $black;
  font-weight: 600;
}
