@import 'styles/_vars.scss';

.CircleSpace {
  position: relative;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;

  // gridlines
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 0.1em;
    box-shadow: inset 0 0 0.3em 0 transparentize($grid-color--dark, 0.3), inset 0 0 0.8em 0 transparentize($grid-color--light, 0.5);
  }

  // rim
  &:after {
    content: '';
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    border-radius: 100%;
    z-index: 1;
    box-shadow: 0 0 0.1em 0.1em $grid-color--dark, 0 0 0.4em 0.3em $grid-color--light, 0 0 0 0.6em $grid-color--dark;
  }
}

// background
.CircleSpace--hole {
  position: absolute;
  width: 70%;
  height: 70%;
  left: 15%;
  top: 15%;
  border-radius: 100%;
  box-shadow: 0 0 0 100vh $grid-color;

  // interior
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: -7%;
    border-radius: 100%;
    z-index: -1;
    box-shadow: 0 0 0 1em desaturate($grid-color--darker, 30);
  }

  // rim shadow
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 2%;
    border-radius: 100%;
    box-shadow: 0 0.5em 0.1em 0.1em $grid-color--darker;
  }
}
